/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

#introAside h2 {
	font-size:28px;
	letter-spacing:1px;
	
	a {
		background:$pink;color:#fff; display:inline-block; padding:7px;border-radius:40px;width:44px;
	}
}


#socialContainer {

	.mobileHide {
		display:none;
	}

	#shareThis {
		.first {
			text-align:right;
		}
		.last {
			text-align:left;
		}

		#heartIt {
			margin-left:2.5%;
		}


		.shareButton {
			margin:0 0 0 20px;
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

.doodle {
	margin:0% auto;
}

.poem p {
	float:left;
	margin-top:-5%;
	margin-bottom:2px;
	font-size:24px;
}

.poem#itsEasy p, .poem#itsClassy p {
	float:right;
}

.mobileHide {
	display:block;
}

.desktopHide {
	display:none;
}

#callToAction #callToActionPoem p {
	font-size:30px;
	line-height:1.8;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee;
	border: 0;

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

